[submodule "lib/emsdk"]
	path = lib/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "lib/depot_tools"]
	path = lib/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
